{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "google",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "eqeqeq": [
      "error",
      "always"
    ],
    "dot-notation": [
      "error"
    ],
    "strict": [
      "error",
      "global"
    ],
    "space-infix-ops": [
      "error"
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "arrow-spacing": [
      "error"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2,
        "maxBOF": 0,
        "maxEOF": 0
      }
    ]
  }
}
